body{
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
}

h1{
    border-radius: 15px;
    border: .1em solid rgba(0,0,0,.15);
    background: linear-gradient(rgba(0,0,0,.55), rgb(150, 200, 175));
    color: white;
    padding: .75em;
    text-align: center;
    margin-right: .05em;
}

iframe{
    border-radius: 15px;
    border: .1em solid rgba(0,0,0,.15);

}